body {
	background-color: #F6E6FF;
	color: #8F6FAD;
	padding: 50px 15px 110px 15px;
}

#ad-control {
	position: fixed;
	bottom: 0px;
    left: 0px;
    width: 100%;
	height: 100px;
}

.navbar {
	background-color: #8F6FAD;
	color: #F6E6FF;
}

.navbar .navbar-brand {
	color: #F6E6FF;
    background-image: url('../images/authlogo.png');
    background-position: 0px 0px;
    background-repeat: no-repeat;
    margin-left:15px;
    padding-left: 60px;
}

.color-base {
	color: #F6E6FF
}

.color-accent {
	color: #8F6FAD;
}

.bg-color-accent {
    background-color: #8F6FAD;
}

.color-2 {
	color: #D3BEFF;
}

.color-3 {
	color: #8C2AE5;
}

.color-4 {
	color: #270C40;
}

button, input[type=button], input[type=submit],
input[type=reset], input[type=file]::-ms-browse,
.fc-state-default {
	background-color: #D3BEFF;
	border-color: #270C40;
	color: #270C40;
}
button[type=submit], input[type=submit]{
	background-clip: border-box;
	background-color: #8F6FAD;
	border-color: #270C40;
	color: #F6E6FF;
}
button:hover, input[type=button]:hover, input[type=reset]:hover,
input[type=file]::-ms-browse:hover,
.fc-state-default:hover {
	background-color: #8F6FAD;
	border-color: #270C40;
	color: #F6E6FF;
}
button[type=submit]:hover, input[type=submit]:hover {
	background-clip: border-box;
	background-color: #270C40;
	border-color: #270C40;
}
button:hover:active, button[type=submit]:hover:active,
input[type=button]:hover:active, input[type=reset]:hover:active,
input[type=submit]:hover:active, input[type=file]::-ms-browse:hover:active,
.fc-state-default:hover:active {
	background-clip: border-box;
	background-color: #8C2AE5;
	border-color: #270C40;
	color: #F6E6FF;
}
button:-ms-keyboard-active, button[type=submit]:-ms-keyboard-active,
input[type=button]:-ms-keyboard-active, input[type=reset]:-ms-keyboard-active,
input[type=submit]:-ms-keyboard-active,
.fc-state-default:-ms-keyboard-active {
	background-clip: border-box;
	background-color: #270C40;
	border-color: #270C40;
	color: #F6E6FF;
}
button:disabled, button[type=submit]:disabled,
input[type=button]:disabled, input[type=reset]:disabled,
input[type=submit]:disabled, input[type=file]:disabled::-ms-browse,
button:disabled:active, button[type=submit]:disabled:active,
input[type=button]:disabled:active, input[type=reset]:disabled:active,
input[type=submit]:disabled:active, input[type=file]:disabled::-ms-browse:active,
.fc-state-disabled {
	background-color: rgba(202, 202, 202, 0.4);
	border-color: rgba(0, 0, 0, 0.08);
	color: rgba(0, 0, 0, 0.4);
}
input[type=file]:disabled::-ms-browse, input[type=file]:disabled::-ms-browse:active {
	border-color: rgba(0, 0, 0, 0.15);
}

.panel-group .panel {
    border-radius: 0px;
}

.panel-default > .panel-heading {
    border-radius: 0px;
    color: #F6E6FF;
    border-color: #270C40;
    background-color: #8F6FAD;
}

/*
File upload control colors.
*/
input[type=file] {
	background-color: transparent;
	border-color: transparent;
	color: transparent;
}

/*
Link colors.
*/
.win-ui-dark a {
	color: #8C2AE5;
}
.win-ui-dark a:hover:active {
	color: #D3BEFF;
}
.win-ui-dark a:hover {
	color: #8F6FAD;
}
.win-ui-dark a[disabled], .win-ui-dark a[disabled]:active { /* :disabled pseudo-class doesn't apply to a, even though disabled attribute stops navigation */
	color: rgba(255, 255, 255, 0.4);
}
a {
	color: #8F6FAD;
}
a:hover:active {
	color: #270C40;
}
a:hover {
	color: #8C2AE5;
}
a[disabled], a[disabled]:active { /* :disabled pseudo-class doesn't apply to a, even though disabled attribute stops navigation */
	color: rgba(0, 0, 0, 0.4);
}

.fc-state-default.fc-corner-left { /* non-theme */
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.fc-state-default.fc-corner-right { /* non-theme */
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	}

#main-content {
	min-height: 100%;
}



.vert-center-container {
	min-height: 100%;
}

@media screen and (-ms-view-state: fullscreen-landscape) {
}

@media screen and (-ms-view-state: filled) {
}

@media screen and (-ms-view-state: snapped) {
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}
