<?xml version="1.0" encoding="utf-8"?>
<AdMediatorConfiguration xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
  <BaseConfiguration>
    <AdAdapters>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>ApplicationId</Key>
            <Value>WhatIEat</Value>
          </Property>
        </Metadata>
        <Name>MicrosoftAdvertising</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>AppId</Key>
            <Value>123183</Value>
          </Property>
        </Metadata>
        <Name>AdDuplex</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>AppID</Key>
            <Value>ShaneChurch_WhatIEat_WP</Value>
          </Property>
          <Property>
            <Key>AdType</Key>
            <Value>IaAdType_Banner</Value>
          </Property>
        </Metadata>
        <Name>Inneractive</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>Format</Key>
            <Value>Banner</Value>
          </Property>
        </Metadata>
        <Name>GoogleAdMob</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
    </AdAdapters>
    <AdControlConfigurations>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>128211</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>80</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>480</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>Inneractive</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitID</Key>
                <Value>ca-app-pub-5837969878094720/9287795691</Value>
              </Property>
            </Metadata>
            <Name>GoogleAdMob</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-655F1AF7-0942-4F56-89EB-31FDF2B1794F</Id>
        <Name>AdMediator_92B08B</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>128211</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>80</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>480</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>Inneractive</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitID</Key>
                <Value>ca-app-pub-5837969878094720/9287795691</Value>
              </Property>
            </Metadata>
            <Name>GoogleAdMob</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-F1E6D1B5-1C12-4602-B194-903C5C8D7C14</Id>
        <Name>AdMediator_3BB1FC</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>128211</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>80</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>480</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>Inneractive</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitID</Key>
                <Value>ca-app-pub-5837969878094720/9287795691</Value>
              </Property>
            </Metadata>
            <Name>GoogleAdMob</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-3C6F3F7B-A6C1-482E-BBC4-496F6C5EBFB1</Id>
        <Name>AdMediator_C5545A</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>128211</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>80</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>480</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>Inneractive</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitID</Key>
                <Value>ca-app-pub-5837969878094720/9287795691</Value>
              </Property>
            </Metadata>
            <Name>GoogleAdMob</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-AA4B15C1-8FBC-4F40-9D0B-654B65E424B0</Id>
        <Name>AdMediator_02B3FF</Name>
      </AdControlConfiguration>
    </AdControlConfigurations>
  </BaseConfiguration>
  <RefreshRate>60</RefreshRate>
  <TestConfiguration>
    <AdAdapters>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>ApplicationId</Key>
            <Value>test_client</Value>
          </Property>
        </Metadata>
        <Name>MicrosoftAdvertising</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>AppId</Key>
            <Value>0</Value>
          </Property>
        </Metadata>
        <Name>AdDuplex</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>AppID</Key>
            <Value>MyCompany_MyApp</Value>
          </Property>
          <Property>
            <Key>AdType</Key>
            <Value>IaAdType_Banner</Value>
          </Property>
        </Metadata>
        <Name>Inneractive</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>Format</Key>
            <Value>Banner</Value>
          </Property>
        </Metadata>
        <Name>GoogleAdMob</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
    </AdAdapters>
    <AdControlConfigurations>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>Image320_50</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>50</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>320</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>Inneractive</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitID</Key>
                <Value>MY_AD_UNIT_ID</Value>
              </Property>
            </Metadata>
            <Name>GoogleAdMob</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-655F1AF7-0942-4F56-89EB-31FDF2B1794F</Id>
        <Name>AdMediator_92B08B</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>Image320_50</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>50</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>320</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>Inneractive</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitID</Key>
                <Value>MY_AD_UNIT_ID</Value>
              </Property>
            </Metadata>
            <Name>GoogleAdMob</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-F1E6D1B5-1C12-4602-B194-903C5C8D7C14</Id>
        <Name>AdMediator_3BB1FC</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>Image320_50</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>50</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>320</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>Inneractive</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitID</Key>
                <Value>MY_AD_UNIT_ID</Value>
              </Property>
            </Metadata>
            <Name>GoogleAdMob</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-3C6F3F7B-A6C1-482E-BBC4-496F6C5EBFB1</Id>
        <Name>AdMediator_C5545A</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>Image320_50</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>50</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>320</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>Inneractive</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitID</Key>
                <Value>MY_AD_UNIT_ID</Value>
              </Property>
            </Metadata>
            <Name>GoogleAdMob</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-AA4B15C1-8FBC-4F40-9D0B-654B65E424B0</Id>
        <Name>AdMediator_02B3FF</Name>
      </AdControlConfiguration>
    </AdControlConfigurations>
  </TestConfiguration>
  <UpdatedDateTime>2014-11-10T21:25:04.7025043Z</UpdatedDateTime>
</AdMediatorConfiguration>